<div id="content-section3" class="content-section black-text white-bg top-spacing-medium bottom-spacing-medium title-spacing-medium align-center " style="">
	<div class="wrap-column">
		<div class="column1">
			<div class="wrap">
				<div class="content-section-heading">
					<h2 class="content-section-subtitle">Create and Customize your grow system to suit your needs and space.</h2>
					<h1 class="content-section-title">Customizable Grow Systems</h1>
				</div>
			</div>
		</div>
		<div class="cleared"></div>
	</div>
	<div class="wrap-column">
		<div class="content-column1">
			<div class="widget-entry">
				<div class="icon-box">

					<a href="<%= request.base_url%>/our-solutions">
					<div class="widget-column1-3   icon-box-horizontal  widget-element-bottom">
						<div class="icon-box-item  icon-box-image-style icon-box-left widget-element-bottom">
							<div class="icon-box-image-container">
								<img src="<%= theme_asset_url('images/1.fw.png') %>" class="icon-box-image" alt=""/>
								<img class="icon-box-image-hover" src="http://www.4sgs.com/media/1/2-storyhouse.png" alt="tomato plants"/> </div>
							<div class="icon-box-title icon-box-title-image"> Our Solution </div>
							<div class="icon-box-content">
								<p>Create your own sustainable organic garden and enjoy the harvest all year long.</p>
							</div>
						</div>
					</div>
					</a>

					<a href="<%= request.base_url%>/product-gallery">
					<div class="widget-column1-3   icon-box-horizontal  widget-element-bottom">
						<div class="icon-box-item  icon-box-image-style icon-box-left widget-element-bottom">
							<div class="icon-box-image-container">
								<img src="<%= theme_asset_url('images/2.fw.png') %>" class="icon-box-image" alt="greenhouse"/>
								<img class="icon-box-image-hover" src="http://www.4sgs.com/media/1/long_house.png" alt="greenhouse"/> </div>
							<div class="icon-box-title icon-box-title-image"> Product Gallery </div>
							<div class="icon-box-content">
								<p>Customize your Grow System to suit your needs and space. Check out our product gallery for ideas.</p>
							</div>
						</div>
					</div>
					</a>

					<a href="<%= request.base_url%>/how-to-buy">
					<div class="widget-column1-3 column-last  icon-box-horizontal  widget-element-bottom">
						<div class="icon-box-item  icon-box-image-style icon-box-left widget-element-bottom">
							<div class="icon-box-image-container">
								<img src="<%= theme_asset_url('images/3.fw.png') %>" class="icon-box-image" alt="zucchini"/>
								<img class="icon-box-image-hover" src="http://www.4sgs.com/media/1/interior.png" alt="zucchini"/> </div>
							<div class="icon-box-title icon-box-title-image"> How to Buy </div>
							<div class="icon-box-content">
								<p>We’ve simplified the buying process so you can get growing in 4 steps.</p>
							</div>
						</div>
					</div>
					</a>
				</div>
				<!-- end icon box -->
				<div class="cleared"></div>
			</div>
			<!-- end widget entry --> </div>
		<div class="cleared"></div>
	</div>
	<!-- end wrap-column no-wrap -->
</div>
<!-- end content section -->



<!-- </div> -->
